1 FONT "Assets\\Fonts\\SkranjiB.ttf"
2 FONT "Assets\\Fonts\\Skranji.ttf"
3 FONT "Assets\\Fonts\\Space Mono.ttf"
4 FONT "Assets\\Fonts\\FS Cherry Swash Bold.ttf"
5 FONT "Assets\\Fonts\\FS Cherry Swash.ttf"
